<%- include("../layout/navbar") -%>
  <div class="storage">
    <p class="title">Storage</p>
    <div class="tools">
      <div class="tools-inputs">
        <form id="searchForm" action="" method="get">
          <div class="add">
            <input autocomplete="off" type="text" id="searchInput" placeholder="Barcode" />
            <button>
              <ion-icon class="icon" name="search-outline"></ion-icon>
            </button>
          </div>
        </form>
        <div class="autocomplete" style="width:200px; margin-left: 30px;">
          <input id="myInput" type="text" placeholder="Search for item" autocomplete="off">
        </div>
      </div>

      <div class="selects-box">
        <select onchange="redirectToPage(this)">
          <option value="/" selected>Filter</option>
          <option value="/localstore/storage">Cancel filter</option>
          <option value="/localstore/storage/filter/most">Quantity (Most)</option>
          <option value="/localstore/storage/filter/less">Quantity (Less)</option>
        </select>
        <select onchange="redirectToPage(this)">
          <option value="/localstore/storage" selected>Size</option>
          <option value="/localstore/storage">Cancel filter</option>
          <% size.forEach(data=> {%>
            <option value="/localstore/storage/size/<%= data.size%>">
              <%= data.size%>
            </option>
            <%}) %>
        </select>
      </div>
    </div>
    <div class="container">
      <br />
      <table class="table table-striped table-hover">
        <tr class="tr-header">
          <th>Name</th>
          <th>Size</th>
          <th>Color</th>
          <th>Store Qty</th>
          <th>Main Storage</th>
          <th>Price</th>
        </tr>
        <% for (let i=0; i < items.length; i++) {%>
          <tr onclick="window.location.href='/localstore/storage/search/<%= items[i].barcode%>'">
            <td>
              <%= items[i].name%>
            </td>
            <td>
              <%= items[i].size%>
            </td>
            <td><%= items[i].colorName%></td>
            <% if(items[i].stock == null){%>
              <td>0</td>
            <%} else {%>
              <td>
                <%= items[i].stock%>
              </td>
            <%} %>
            <td>
              <%= items[i].qty%>
            </td>
            <td>
              <%= items[i].sell_price%>
            </td>
          </tr>
          <% } %>
      </table>
    </div>

    <script>
      const form = document.getElementById("searchForm");
      const searchInput = document.getElementById("searchInput");

      form.addEventListener("submit", function (event) {
        const inputValue = searchInput.value;
        form.action = `/localstore/storage/search/${inputValue}`;
      });

      form.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
          event.preventDefault(); // Prevent the default form submission
          const inputValue = event.target.value; // Get the input value
          const form = document.getElementById("searchForm");
          form.action = `/localstore/storage/search/${inputValue}`; // Set form action to /search/[inputValue]
          form.submit(); // Submit the form
        }
      });
    </script>

    <script>
      function redirectToPage(x) {
        window.location.href = `${x.value}`
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <script>
      function autocomplete(inp, arr) {
        let currentFocus;
        const fuse = new Fuse(arr, {
          threshold: 0.4,
        });

        inp.addEventListener("input", function () {
          let a, b, val = this.value;
          closeAllLists();
          if (!val) return false;
          currentFocus = -1;

          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          this.parentNode.appendChild(a);

          const results = fuse.search(val);
          results.forEach(({ item }) => {
            b = document.createElement("DIV");
            b.innerHTML = `<strong>${item.substr(0, val.length)}</strong>${item.substr(val.length)}`;
            b.innerHTML += `<input type='hidden' value='${item}'>`;
            b.addEventListener("click", function () {
              window.location.href = `/localstore/storage/search-by-name/${String(this.getElementsByTagName("input")[0].value)}`
              closeAllLists();
            });
            a.appendChild(b);
          });
        });

        inp.addEventListener("keydown", function (e) {
          let x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            currentFocus++;
            addActive(x);
          } else if (e.keyCode == 38) {
            currentFocus--;
            addActive(x);
          } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1 && x) x[currentFocus].click();
          }
        });

        function addActive(x) {
          if (!x) return false;
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = x.length - 1;
          x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
          for (let i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
          }
        }

        function closeAllLists(elmnt) {
          const x = document.getElementsByClassName("autocomplete-items");
          for (let i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }

        document.addEventListener("click", function (e) {
          closeAllLists(e.target);
        });
      }

      const data = "<%= data %>".split(",");
      autocomplete(document.getElementById("myInput"), data);
    </script>
    <%- include("../layout/footer") -%>
  </div>