<%- include('../layout/navbar') -%>
    <div class="category-products search">
        <p>HIDDEN</p>
        <p class="title">Products</p>
        <div class="autocomplete">
            <input id="myInput" autocomplete="off" type="text" placeholder="Search for item">
        </div>
        <div class="cards">
            <% products.forEach(data => {%>
                <div class="product-card" onclick="window.location.href='/shop/product/get/<%= data.id%>'">
                    <img src="/upload/images/<%= data.image%>" alt="Image">
                    <div class="card-details">
                        <p class="card-title"><%= data.name%></p>
                        <p class="price"><%= data.sell_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> <span>IQD</span></p>
                    </div>
                </div>
            <%}) %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <script>
        function autocomplete(inp, arr) {
            let currentFocus;
            const fuse = new Fuse(arr, {
                threshold: 0.4,
            });
    
            inp.addEventListener("input", function () {
                let a, b, val = this.value;
                closeAllLists();
                if (!val) return false;
                currentFocus = -1;
    
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
    
                const results = fuse.search(val);
                results.forEach(({ item }) => {
                    b = document.createElement("DIV");
                    b.innerHTML = `<strong>${item.substr(0, val.length)}</strong>${item.substr(val.length)}`;
                    b.innerHTML += `<input type='hidden' value='${item}'>`;
                    b.addEventListener("click", function () {
                        window.location.href = `/shop/search/${String(this.getElementsByTagName("input")[0].value)}`
                        closeAllLists();
                    });
                    a.appendChild(b);
                });
            });
    
            inp.addEventListener("keydown", function (e) {
                let x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1 && x) x[currentFocus].click();
                }
            });
    
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = x.length - 1;
                x[currentFocus].classList.add("autocomplete-active");
            }
    
            function removeActive(x) {
                for (let i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
    
            function closeAllLists(elmnt) {
                const x = document.getElementsByClassName("autocomplete-items");
                for (let i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
    
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
    
        const data = "<%= data %>".split(",");
        autocomplete(document.getElementById("myInput"), data);
    </script>
<%- include('../layout/footer') -%>