<%- include("../layout/navbar") -%>

<% if(err.length > 0){%>
    <script>
        Swal.fire({
            icon: 'error',
            text: `<%= err%>`
        })
    </script>
<%} %>

    <div class="sell-dashboard">
        <p class="title">Orders history</p>
        <form id="orders-id-form" class="orders-id-form" method="get">
            <input type="number" id="id-input" placeholder="Order ID">
            <button>Search</button>
        </form>
        <script>
            const form = document.getElementById("orders-id-form");
            const searchInput = document.getElementById("id-input");

            form.addEventListener("submit", function (event) {
                const inputValue = searchInput.value;
                form.action = `/localstore/orders/getbyid/${inputValue}`;
            });

            form.addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault(); // Prevent the default form submission
                    const inputValue = event.target.value; // Get the input value
                    const form = document.getElementById("orders-id-form");
                    form.action = `/localstore/orders/getbyid/${inputValue}`;
                    form.submit(); // Submit the form
                }
            });
        </script>
        <div class="sell-cards">
            <% orders.forEach(data=> {%>
                <div class="sell-card" onclick="window.location.href='/localstore/orders/get-data/<%=data._id%>'">
                    <div class="flex">
                        <% if(data.isShop==true){%>
                            <p class="icon" style="color: #665CC4;"><ion-icon name="folder"></ion-icon></p>
                            <%} else {%>
                                <p class="icon"><ion-icon name="folder"></ion-icon></p>
                                <%} %>
                                    <div class="details">
                                        <p>
                                            <%= data.Date%>
                                        </p>
                                        <p>
                                            <%= data.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," )%> IQD
                                        </p>
                                        <p>
                                            <%= data.adress%>
                                        </p>
                                    </div>
                                    <% if(data.status=="pending" ){%>
                                        <p class="status">Pending</p>
                                        <%} %>
                    </div>
                </div>
                <%}) %>
        </div>
        <br>
        <br>
        <br>
    </div>
    <%- include("../layout/footer") -%>