<%- include("../layout/navbar") -%>
<script>
    Swal.fire({
                icon: 'question',
                showConfirmButton: false,
                html:`<form action="/localstore/sell/add-by-name/<%= data.id%>?_method=PUT" method="post">
            <input type="number" name="qty"
                style="border: none; width: 80%; border-bottom: 1px solid #000; margin-top: 20px;" name="qty"
                placeholder="Quantity">
            <br><br>
            <button
                style="border: none; background-color: #ffdb57; padding: 5px; margin-top: 30px; color: #000; border-radius: 8px;">Confirm</button>
            <br>
        </form>
        <button onclick="window.location.href='/localstore/sell'"
            style="border: none; background-color: ##f0ad4e; padding: 5px; margin-top: 30px; color: #000; border-radius: 8px;">Cancel</button>`,
            })
</script>
    <div class="items"><br><br>

        <div class="cards">
                    <div class="card-made" onclick="window.location.href='/localstore/sell/serch-by-name-qty/<%= data.id%>'">
                        <div class="item-image">
                            <img src="/upload/images/<%= data.image%>" alt="">
                        </div>
                        <p class="title">
                            <%= data.name%>
                        </p>
                        <div class="des">
                            <div class="item-color">
                                <p>Color : <div class="card-color" style="background-color: <%= data.color%>"></div></p>
                            </div>
                            <div class="item-size">
                                <p>Size : <%= data.size%></p>
                            </div>
                        </div>
    
                        <div class="price">
                            <p class="price-p">Price</p>
                        </div>
                        <div class="price">
                            <p class="sell_price"><%= data.sell_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> IQD</p>
                        </div>
                        <% if(data.colorName){%>
                            <div class="item-colorName">
                                <p>Color Name: <%= data.colorName%></p>
                            </div>
                        <%} %>
                    </div>
        </div>
    </div>

    <script src="/javascript/items.js"></script>
    <%- include("../layout/footer") -%>